<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password - Backend Test</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="col-sm-6 offset-sm-3">
        <div class="panel panel-default" style="padding-top: 40px">
            <h2>Enter Your Email</h2>
            <p class="text-muted">We will send you instruction on how to reset your password</p>

        {{if .Error}}
            <b class="text-danger text-center">{{.Message}}</b><br>
        {{else}}
            <b class="text-success text-center">{{.Message}}</b><br>
        {{end}}
            <form method="post" action="/forgotpassword">
                <input type="text" name="email" placeholder="Email"
                       class="form-control"><br>

                <button name="btn_submit" class="btn btn-dark">
                    <b>Submit</b>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>