<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - Backend Test</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="col-sm-6 offset-sm-3">
        <div class="panel panel-default" style="padding-top: 40px">
            <h2>Reset Your Password</h2>
            <p class="text-muted">Create a new secure password</p>

            {{if .Error}}
                <b class="text-danger text-center">{{.Message}}</b><br>
            {{else}}
                <b class="text-success text-center">{{.Message}}</b><br>
            {{end}}
            <form method="post" action="/resetpassword">
                <input type="password" name="new_password" placeholder="Password"
                       class="form-control"><br>
                <input type="password" name="new_password_confirm" placeholder="Confirm Password"
                       class="form-control"><br>
                <input type="hidden" name="hash" value="{{.Data}}">

                <button name="reset_password" class="btn btn-dark">
                    <b>Reset Password</b>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>